<html>
    <header>

    </header>
    <body>
        <form method="POST" action="/added">
            <input type="text" name="title">
            <input type="submit" value="Add a Show!">
        </form>
        <form method="POST" action="/deleted">
            <input type="text" name="title">
            <input type="submit" value="Delete a Show!">
        </form>
        <h1>
            You have {{num_movies}} saved TV shows!
        </h1>
        {% for i in range(num_movies) %}
            <p>
                <b>
                    {{movies[i].title}}
                </b>
            </p>
        {% endfor %}
    </body>
</html>